<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gupao.springkafkademo.mapper.EmployeeMapper">
    <!-- 此处需要注意的是，由于我们数据库定义的id存储类型为intbig,但是我们的Entity中Id是Long -->
    <!-- 前面的两种方式插入没问题，此处报了数据库类型异常 -->
    <!-- 所以数据库的ID类型改为了Varchar -->
<!--    <resultMap id="authorMap" type="com.gupao.springkafkademo.entity.Employee">-->
<!--        <id column="id" property="id" jdbcType="INTEGER" />-->
<!--        <result column="name" property="name" jdbcType="VARCHAR" />-->
<!--        <result column="age" property="age" jdbcType="INTEGER" />-->
<!--    </resultMap>-->

    <sql id="base_column">
        id,name,age
    </sql>
    
    <select id="findALL" resultType="Employee">
        select id,name,age from employee
    </select>

    <select id="getSize" resultType="integer">
        select count(*) from employee
    </select>

    <select id="queryById" resultType="Employee" parameterType="integer">
        select id,name,age from employee where id = #{id}
    </select>
    
    <update id="updateEmployee" parameterType="Employee">
        update employee set name = #{name} where id = #{id}
    </update>

    <insert id="insertEmployee" parameterType="Employee">
        INSERT INTO
        employee(id,name,age)
        VALUES
        (#{id},#{name},#{age})
    </insert>

</mapper>